<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TradeBooks</title>
    <link rel="shortcut icon" href="/images/log.ico" type="image/x-icon" />

    <link rel="stylesheet" href="stylesheets/style-nav.css">
    <link rel="stylesheet" href="stylesheets/style-main.css">
    <link rel="stylesheet" href="stylesheets/style-products.css">
    <link rel="stylesheet" href="stylesheets/style-footer.css">

    <!--Bibliotecas usadas para o carrossel-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
        integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
        integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <!--!!!!!!!!!!!!-->

</head>

<body>
    
    <!--#### Partials do header ###-->
    <%- include('./partials/header') %>
 
    <main>

        <!--Banner-->
        <div class="banner">

        </div>

        <!--Container com produtos para troca e venda, será um carrossel-->

        <section class="container-products">

            <strong class="title">Livros para troca</strong>
            <!-- ///////////////////////////////////////////////////////////////////////////////////////////// -->

            <div class="products js-slider">
               
                <% for(let books of data){ %>
                    <div class="card-product-trade" id="<%=books.dataValues.id%>">
                       
                        <img src="<%=books.dataValues.image%>" alt="">
                        <strong class="title-prod" >
                            <%=books.dataValues.TITLE_BOOK%>
                        </strong>
                  
                     
                            <button class="btn " id="btn-add-cart" value="<%=books.dataValues.id%>">Solicitar Troca</button>
                      
                    </div>
                    <% } %>

            </div>

            <!-- ///////////////////////////////////////////////////////////////////////////////////////////// -->
            <div class="line"></div>

            <strong class="title">Compre Livros</strong>
            <div class="products js-slider">
         
                    <% for(let books of data){ %>
                        <div class="card-product" id="<%=books.dataValues.id%>">
                           
                            <img src="<%=books.dataValues.image%>" alt="">
                            <strong class="title-prod" >
                                <%=books.dataValues.TITLE_BOOK%>
                            </strong>
                            <strong class="preco-prod">
                                <%=books.dataValues.PRICE%>
                            </strong>
                         
                                <button class="btn " id="btn-add-cart" value="<%=books.dataValues.id%>">Adicionar ao carrinho</button>
                            
                          
                        </div>
                        <% } %>
            </div>
     
        </section>
      
    </main>

    <!--### Partials do footer ###-->
    <%- include('./partials/footer') %>

    <!--Bibliotecas usadas para o carrossel-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"
        integrity="sha512-h9kKZlwV1xrIcr2LwAPZhjlkx+x62mNwuQK5PAu9d3D+JXMNlGx8akZbqpXvp0vA54rz+DrqYVrzUGDMhwKmwQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js"
        integrity="sha512-fDGBclS3HUysEBIKooKWFDEWWORoA20n60OwY7OSYgxGEew9s7NgDaPkj7gqQcVXnASPvZAiFW8DiytstdlGtQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
        integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--!!!!!!!!-->

    <script src="../javascripts/addCart.js"></script>
    <script src="../javascripts/index.js"></script>
    <script src="../javascripts/carrossel.js"></script>

    
</body>


</html>